@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:&display=swap,family=Rubik&display=swap');

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Cormorant Garamond', serif;
}
header{
    display: inline-flex;
    width: 100%;
    position: fixed;
    background-color:white;
    z-index: 10;
    height: 4rem;
    padding: 1rem 1rem 1rem 2rem;
}
button{
    background-color: #ff7864;
    color: white;
    padding: 0.9rem 1.3rem;  
    border: none; 
    font-family: 'Rubik', sans-serif;
}
.logo{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #333;
}
.menu{
    flex: 70%;
}
ul{
    text-align: right;
    /* padding-right: 30px; */
}
.menu li{
    color: rgb(44, 42, 42);
    font-size:1.2rem;
    font-family: 'Rubik', sans-serif;
    display: inline-block;
    margin: 0.3rem 0.9rem 0.3rem 0;

}
.cover{
height: fit-content;
background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0.151)),url("images/recipe_image_30.jpg");
background-size: cover;
padding: 1rem 0 4rem 1rem;
}
.cover_content{
    font-family: 'Cormorant Garamond', serif;
    padding: 8rem 7rem 3rem 3rem;
    margin: 0 4rem;

}
.cover_content h1{
    font-weight: 300;
    color: white;
    font-size: 3.5rem;
    width: 70%;
}
.cover_content p{
    font-size: 1.3rem;
    color: white;
    line-height: 2;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 0;
    margin: 2rem 0 2rem 0;
    width: 65%;
}
.healthy_recipe{
    display: flex;
    margin: 13rem 7rem 7rem 7rem;
    color: #333;
    background-color: #f9f2f2;
    padding: 1rem 0rem 3rem 4rem;
}
.healthy_content,.healthy_image{
    width: 50%;
}
.healthy_content h2{

    font-family: 'Cormorant Garamond',serif ;
    font-weight: 100;
    font-size: 2.1rem;
    line-height: 1.4em;
    letter-spacing: 1px;
}
.healthy_content p{
    padding: 0 0.5rem 0 0;
    color: rgba(51, 51, 51, 0.747);
    line-height: 2;
    font-size: 1.1rem;
}
.h_progress{
    
    font-family: 'Rubik', sans-serif;
}
.h_progress p{
    font-size: 1rem;
    line-height: 0;
    padding: 1rem 0 0rem 0;
}
.progressbar{
    height: 1.3rem;
    background-color: #f2dfdf;
    border-radius: 5rem;
    width: 95%;
}
.pbar_1,.pbar_2,.pbar_3{
    border-radius: 5rem;
    height: 100%;
    background-color: #ff7864;
}
.pbar_1{
    width: 80%;
}
.pbar_2{
    width: 30%;
}
.pbar_3{
    width: 12%;
}
.healthy_image{
    padding: 2rem;
}
.healthy_image img{
    width:100%;
    margin-top: -7rem;
}
.items{
    justify-content: center;
    display: flex;
    margin: 0rem 8rem;
}
.item1{
    text-align: center;
    justify-content: center;
    color: #968a83;
    font-family: 'Cormorant Garamond',serif ;
    margin: 1rem;

}
.item1 h2{
    font-size: 1.4rem;
    font-weight: 1;
    color: #4d4643;
}
.item1 p{
    font-size: 1.2rem;
    line-height: 1.5;
}
.section_4{
    text-align: center;
    background-color:#f9f2f2 ;
    padding: 5rem 8rem;
}
.section_4 h1{
    color: rgba(0, 0, 0, 0.781);
    margin-bottom: 5rem;
    font-size: 2.3rem;
}
.carousel-item{
    /* margin: auto; */
    height: 30rem; 
    background-size: cover;
    padding: 7rem 6rem 0rem 6rem;
    font-family: 'Cormorant Garamond',serif ;
}
.carousel-item h2{
    color:white;
    font-size: 2rem;
    line-height: 3;
}
.carousel-item p{
    color:rgb(231, 231, 231);
    font-size: 1.3rem;
    line-height: 2;
    letter-spacing: 1px;
}
.carousel-inner{ 
    overflow: hidden;
    height: 100%;
}

.slide1{
    background-image: linear-gradient(90deg,rgba(20, 20, 20, 0.671),rgba(0, 0, 0, 0.692)),url("images/carousal/13_img.jpg");
}
.slide2{
    background-image: linear-gradient(90deg,rgba(20, 20, 20, 0.671),rgba(0, 0, 0, 0.692)),url("images/carousal/bakery-16.jpg");
}
.slide3{
    background-image: linear-gradient(90deg,rgba(20, 20, 20, 0.671),rgba(0, 0, 0, 0.692)),url("images/carousal/fashion-20.jpg");
}
.slide4{
    background-image: linear-gradient(90deg,rgba(20, 20, 20, 0.671),rgba(0, 0, 0, 0.692)),url("images/carousal/florist-04.jpg");
}
.section_5{
    justify-content: center;
    text-align: center;
    padding: 5rem;
}
.section_5 h1{
    color: rgba(0, 0, 0, 0.863);
}
.blog_cards{
    justify-content: center;
    margin: 10%;
    display: flex;
}
.blog1{
    width: 20rem;
    margin: 2rem 1rem;
    border: 1px solid rgba(202, 193, 193, 0.521);
}
.blog1 img{
    width: 17rem;
    height: 11rem;
}
.blog1 .blogdetail{
    padding: 1rem;
}
.blog1 h1{
    color: #474442;
    font-family: 'Cormorant Garamond',serif ;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5;
}
.blog1 p{
    color: #807975;
    font-family: 'Cormorant Garamond',serif ;
    text-align: left;
    font-size:1.2rem;
    height: 2;
}
.section_6{
    background-color:#faf3d2 ;
    background-image: url("images/recipe_illustration_01-2.png");
    background-size: cover;
    padding: 10%;
    background-position: center;
    overflow: hidden;
}
.section_6 div{
    text-align: center;
    margin: auto;
    padding: 2rem 5rem;
    width: 50%;
    justify-content: center;
}
.section_6 h1{
    word-spacing: 2px;
    letter-spacing: 1px;
}
.section_6 input{
    width: 130%;
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.116);
    font-size: large;
    margin: 3px auto;
    position: relative;
    right: 17%;
    
}
.section_6 button{
    width: 130%;
    margin: 3px auto;
    position: relative;
    right: 17%;
}
.animate {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @keyframes fadeIn {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
  
  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  
  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
  @-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
  
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }